<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ITRequeriments.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ITRequeriments.My.MySettings>
            <setting name="scotiaID" serializeAs="String">
                <value>s5145837</value>
            </setting>
            <setting name="passID" serializeAs="String">
                <value>abcd.1234</value>
            </setting>
            <setting name="setTimer" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="fileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="category" serializeAs="String">
                <value>Software</value>
            </setting>
            <setting name="subCategory" serializeAs="String">
                <value>Mainframe</value>
            </setting>
            <setting name="whoAffecting" serializeAs="String">
                <value>My Team</value>
            </setting>
            <setting name="enviroment" serializeAs="String">
                <value>PROD</value>
            </setting>
        </ITRequeriments.My.MySettings>
    </userSettings>
</configuration>